﻿@model IEnumerable<HTCTest.Models.Note>

@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    @Html.ActionLink("All", "All", new { date = ViewBag.Date }, new { @class = "btn btn-primary disabled" } )
    @Html.ActionLink("Month", "ByMonths", new { date = ViewBag.Date }, new { @class = "btn btn-default" })
    @Html.ActionLink("Week", "ByWeeks", new { date = ViewBag.Date }, new { @class = "btn btn-default" })
    @Html.ActionLink("Day", "ByDays", new { date = ViewBag.Date }, new { @class = "btn btn-default" })
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(n=>n.StartDate)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>
        <td>
            @Html.DisplayFor(modelItem=> item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", "Notes", new { id=item.Id },
                new { @class = "view-dialog",  data_dialog_title = "Delete" })
        </td>
    </tr>
}

</table>
