﻿@using System.Globalization
@model IEnumerable<HTCTest.Models.Note>

@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("ByMonths", "Notes", FormMethod.Get))
{
    <div class="form-inline">
        @Html.ActionLink("All", "All", new {date = ViewBag.Date}, new {@class = "btn btn-default"})
        @Html.ActionLink("Month", "ByMonths", new {date = ViewBag.Date}, new {@class = "btn btn-default"})
        @Html.ActionLink("Week", "ByWeeks", new {date = ViewBag.Date}, new {@class = "btn btn-primary disabled"})
        @Html.ActionLink("Day", "ByDays", new {date = ViewBag.Date}, new {@class = "btn btn-default"})
        <input type="text" class="form-control datepicker" name="date" value="@ViewBag.Date.ToString("yyyy-MM-dd")"/>
        <input type="submit" class="btn btn-default" value="Go to"/>
    </div>
}

<div class="text-center">
    @Html.ActionLink("<", "ByWeeks", new {date = ((DateTime) ViewBag.Date).AddDays(-7)}, new {@class = "btn btn-default"})
    @ViewBag.WeekStart.ToString("yyyy MMMM dd", DateTimeFormatInfo.InvariantInfo)
    -
    @ViewBag.WeekEnd.ToString("yyyy MMMM dd", DateTimeFormatInfo.InvariantInfo)
    @Html.ActionLink(">", "ByWeeks", new {date = ((DateTime) ViewBag.Date).AddDays(7)}, new {@class = "btn btn-default"})

</div>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>

        <th></th>
    </tr>

    @foreach (var group in Model.GroupBy(n => n.StartDate).OrderBy(g => g.Key))
    {
        <tr class="active">
            <th>
                @group.Key.ToString("D", DateTimeFormatInfo.InvariantInfo)
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        foreach (var item in group)
        {
            <tr>
                <th></th>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", "Notes", new { id=item.Id },
                        new { @class = "view-dialog",  data_dialog_title = "Delete" })
                </td>
            </tr>
        }
    }

</table>