﻿@model HTCTest.Models.NoteViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Note</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Type, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Topic, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Topic,
                    new {htmlAttributes = new {@class = "form-control note-property matter-property meeting-property memo-property"}})
                @Html.ValidationMessageFor(model => model.Topic, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes =
                        new {@class = "form-control note-property matter-property meeting-property memo-property datepicker"}
                })
                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinishDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinishDate, new
                {
                    htmlAttributes =
                        new {@class = "form-control note-property matter-property meeting-property datepicker"}
                })
                @Html.ValidationMessageFor(model => model.FinishDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place,
                    new {htmlAttributes = new {@class = "form-control note-property meeting-property"}})
                @Html.ValidationMessageFor(model => model.Place, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script>
        function updateNoteProperties() {
            var type = $('#Type option:selected').text().toLocaleLowerCase();
            $('.note-property').attr('disabled', true);
            $('.' + type + '-property').removeAttr('disabled');
        }

        $('#Type').change(function() {
            updateNoteProperties();
        });
        $(document).ready(function() {
            updateNoteProperties();
        });
    </script>
}