﻿@model HTCTest.Models.Note

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Topic</h4>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-default" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
