﻿@model HTCTest.Models.Contact

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@($"{Model.FirstName} {Model.LastName} {Model.Patronymic}")</h4>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
