﻿@model HTCTest.Models.Contact

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>Details</h2>
    <h4>Contact</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=>model.Phones)
        </dt>

        <dd>
            @foreach (var phone in Model.Phones)
            {
                <div>@phone.Number</div>
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model=>model.EMails)
        </dt>

        <dd>
                @foreach (var email in Model.EMails)
                {
                    <div>@email.Address</div>
                }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skypes)
        </dt>


        @foreach (var skype in Model.Skypes)
        {
            <dd>
                <div>@skype.Login</div>
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.OtherContacts)
        </dt>

        <dd>
                @foreach (var contact in Model.OtherContacts)
                {
                   <div>@contact.Value</div>
                }
        </dd>

    </dl>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>