﻿@model HTCTest.Models.ContactViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h4>Contact</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Patronymic, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Patronymic, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Patronymic, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthdate, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthdate, new {htmlAttributes = new {@class = "form-control datepicker"}})
            @Html.ValidationMessageFor(model => model.Birthdate, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Firm, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Firm, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Firm, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Rank, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rank, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Rank, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group contact-form-group">
        @Html.LabelFor(model => model.Phones, new {@class = "control-label col-md-2"})
        <div class="col-md-offset-2">
            @if (Model?.Phones != null)
            {
                for (int i = 0; i < Model.Phones.Count; ++i)
                {
                    <div class="col-md-10 editor" data-index="@i">
                        <div class="form-inline">
                            @Html.HiddenFor(model => model.Phones[i].Id, new {id = ""})
                            @Html.EditorFor(model => model.Phones[i].Number,
                                new {htmlAttributes = new {@class = "form-control", id = ""}})
                            <input type="button" class="btn btn-default btn-remove" value="Remove phone"/>
                        </div>
                        @Html.ValidationMessageFor(model => model.Phones[i].Number, "", new {@class = "text-danger"})
                        <div class="form-group"></div>
                    </div>
                }
            }
            <div class="col-md-10 editor pattern" hidden="">
                <div class="form-inline">
                    @Html.Editor("Phones[-1].Number",
                        new {htmlAttributes = new {@class = "form-control", id = "", disabled = "true"}})
                    <input type="button" class="btn btn-default btn-remove" value="Remove phone"/>
                </div>
                @Html.ValidationMessage("Phones[-1].Number", new {@class = "text-danger"})
                <div class="form-group"></div>
            </div>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Phones)
            </div>
            <div class="col-md-10">
                <input type="button" class="btn btn-default btn-add" value="Add phone"/>
            </div>
        </div>
    </div>

    <div class="form-group contact-form-group">
        @Html.LabelFor(model => model.EMails, new {@class = "control-label col-md-2"})
        <div class="col-md-offset-2">
            @if (Model?.EMails != null)
            {
                for (int i = 0; i < Model.EMails.Count; ++i)
                {
                    <div class="col-md-10 editor" data-index="@i">
                        <div class="form-inline">
                            @Html.HiddenFor(model => model.EMails[i].Id, new {id = ""})
                            @Html.EditorFor(model => model.EMails[i].Address,
                                new {htmlAttributes = new {@class = "form-control", id = ""}})
                            <input type="button" class="btn btn-default btn-remove" value="Remove e-mail"/>
                        </div>
                        @Html.ValidationMessageFor(model => model.EMails[i].Address, "", new {@class = "text-danger"})
                        <div class="form-group"></div>
                    </div>
                }
            }
            <div class="col-md-10 editor pattern" hidden="">
                <div class="form-inline">
                    @Html.Editor("EMails[-1].Address",
                        new {htmlAttributes = new {@class = "form-control", id = "", disabled = "true"}})
                    <input type="button" class="btn btn-default btn-remove" value="Remove e-mail"/>
                </div>
                @Html.ValidationMessage("EMails[-1].Number", new {@class = "text-danger"})
                <div class="form-group"></div>
            </div>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.EMails)
            </div>
            <div class="col-md-10">
                <input type="button" class="btn btn-default btn-add" value="Add e-mail"/>
            </div>
        </div>
    </div>

    <div class="form-group contact-form-group">
        @Html.LabelFor(model => model.Skypes, new {@class = "control-label col-md-2"})
        <div class="col-md-offset-2">
            @if (Model?.Skypes != null)
            {
                for (int i = 0; i < Model.Skypes.Count; ++i)
                {
                    <div class="col-md-10 editor" data-index="@i">
                        <div class="form-inline">
                            @Html.HiddenFor(model => model.Skypes[i].Id, new {id = ""})
                            @Html.EditorFor(model => model.Skypes[i].Login,
                                new {htmlAttributes = new {@class = "form-control", id = ""}})
                            <input type="button" class="btn btn-default btn-remove" value="Remove skype"/>
                        </div>
                        @Html.ValidationMessageFor(model => model.Skypes[i].Login, "", new {@class = "text-danger"})
                        <div class="form-group"></div>
                    </div>
                }
            }
            <div class="col-md-10 editor pattern" hidden="">
                <div class="form-inline">
                    @Html.Editor("Skypes[-1].Login",
                        new {htmlAttributes = new {@class = "form-control", id = "", disabled = "true"}})
                    <input type="button" class="btn btn-default btn-remove" value="Remove skype"/>
                </div>
                @Html.ValidationMessage("Skypes[-1].Number", new { @class = "text-danger" })
                <div class="form-group"></div>
            </div>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Skypes)
            </div>
            <div class="col-md-10">
                <input type="button" class="btn btn-default btn-add" value="Add skype"/>
            </div>
        </div>
    </div>

    <div class="form-group contact-form-group">
        @Html.LabelFor(model => model.OtherContacts, new {@class = "control-label col-md-2"})
        <div class="col-md-offset-2">
            @if (Model?.OtherContacts != null)
            {
                for (int i = 0; i < Model.OtherContacts.Count; ++i)
                {
                    <div class="col-md-10 editor" data-index="@i">
                        <div class="form-inline">
                            @Html.HiddenFor(model => model.OtherContacts[i].Id, new {id = ""})
                            @Html.EditorFor(model => model.OtherContacts[i].Value,
                                new {htmlAttributes = new {@class = "form-control", id = ""}})
                            <input type="button" class="btn btn-default btn-remove" value="Remove contact"/>
                        </div>
                        @Html.ValidationMessageFor(model => model.OtherContacts[i].Value, "", new {@class = "text-danger"})
                        <div class="form-group"></div>
                    </div>
                }
            }
            <div class="col-md-10 editor pattern" hidden="">
                <div class="form-inline">
                    @Html.Editor("OtherContacts[-1].Value",
                        new {htmlAttributes = new {@class = "form-control", id = "", disabled = "true"}})
                    <input type="button" class="btn btn-default btn-remove" value="Remove contact"/>
                </div>
                @Html.ValidationMessage("OtherContacts[-1].Value", new { @class = "text-danger" })
                <div class="form-group"></div>
            </div>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.OtherContacts)
            </div>
            <div class="col-md-10">
                <input type="button" class="btn btn-default btn-add" value="Add contact"/>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function() {
            function updateIndex(element, oldIndex, newIndex) {
                element.attr("data-index", newIndex);
                element.find('input[name]').each(function(i) {
                    var oldName = $(this).attr('name');
                    var newName = oldName.replace(oldIndex, newIndex);
                    $(this).attr('name', newName);
                });
                element.find('span').each(function() {
                    var oldValMsg = $(this).attr('data-valmsg-for');
                    var newValMsg = oldValMsg.replace(oldIndex, newIndex);
                    $(this).attr('data-valmsg-for', newValMsg);
                });
            }


            $('.contact-form-group').each(function() {
                var root = $(this);
                var count = root.find('.editor').length - 1;

                function removeEvent(button) {
                    var elem = button.parent().parent();
                    var index = parseInt(elem.attr('data-index'), 10);
                    for (var i = index + 1; i < count; i++) {
                        var editor = root.find('.editor[data-index="' + i + '"]');
                        updateIndex(editor, i, i - 1);
                    }
                    elem.remove();
                    count--;
                }

                root.find('.btn-remove').click(function() {
                    removeEvent($(this));
                });

                root.find('.btn-add').click(function() {

                        var block = root.find('.pattern').clone();
                        block.removeClass('pattern');
                        block.removeAttr('id');
                        block.removeAttr('hidden');
                        block.find('input').removeAttr('disabled');
                        updateIndex(block, '-1', count.toString());
                        block.find('.btn-remove').click(function() {
                            removeEvent($(this));
                        });
                        root.find('.pattern').before(block);
                        var form = $('form');
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);
                        count = count + 1;
                    }
                );
            });
        });
    </script>
}