﻿@model IEnumerable<HTCTest.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create new", "Create", "Contacts")
</p>

<form method="get" class="form-inline">
    <input name="searchString" class="form-control" value="@ViewBag.SearchString"/>
    <input type="submit" class="btn btn-default" value="Search"/>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit",  new { id = item.Id }) |
                @Html.ActionLink("Details", "Details",  new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "Contacts", new { id=item.Id },
                    new { @class = "view-dialog",  data_dialog_title = "Delete" })
            </td>
        </tr>
    }

</table>