﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/jquery-ui.min.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Organizer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Notes", "Index", "Notes")</li>
                    <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
<script>
    $(document).ready(function () {
 
        $.ajaxSetup({ cache: false });
 
        $('.view-dialog').on('click', function (e) {
            e.preventDefault();

            $('<div></div>')
                    .load(this.href)
                .addClass('dialog')
                .append('body')
                .dialog({
                    title: $(this).attr('data-dialog-title'),
                    close: function () { $(this).remove() },
                    modal: true,
                    position: { my: "center", at: "center", of: window }
                });
        });
        $('.datepicker').attr('type', 'text');
        $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
